.icon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: currentcolor;
    stroke: none;
    font-size: 1.6rem;
}