.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;
}

@media (max-width: 800px) {
    .my-masonry-grid {
        margin-left: -15px;
        /* gutter size offset */
    }

    .my-masonry-grid_column {
        padding-left: 15px;
        /* gutter size offset */
    }

    .my-masonry-grid_column>img {
        margin-bottom: 15px;
        /* space between items */
    }
}

@media (max-width: 600px) {
    .my-masonry-grid {
        margin-left: 25px;
        /* gutter size offset */
    }

    .my-masonry-grid_column {
        padding-left: 15px;
        /* gutter size offset */
    }

    .my-masonry-grid_column>img {
        margin-bottom: 15px;
        /* space between items */
    }
}

@media (max-width: 700px) {
    .my-masonry-grid {
        margin-left: 25px;
        /* gutter size offset */
    }

    .my-masonry-grid_column {
        padding-left: 15px;
        /* gutter size offset */
    }

    .my-masonry-grid_column>img {
        margin-bottom: 15px;
        width: 200px;
        /* spac;e between items */
    }
}

.gallery {
    filter: blur(8px);
}