* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: #f7f8fc;
    color: #454858;
}

header {
    background: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 5, 0.12);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999999;
}

img {
    width: 100%;
    max-width: 100%;
}

header span {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.blogs {
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 80px;
    padding: 0 25px;
}

.blog-post {
    background: #fff;
    margin: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 5, 0.12);
    width: 350px;
}

.blog-post .left {
    width: 100%;
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.blog-post .right {
    overflow: hidden;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-size: cover;
}

.blog-post .left h1 {
    line-height: 1.3;
    margin-bottom: 15px;
    font-size: 1.25rem;
    letter-spacing: 0.25px;
}

.blog-post .left p.author {
    font-weight: 500;
    margin-bottom: 10px;
}

.blog-post .left p.date {
    font-size: 13px;
}

@media screen and (max-width: 980px) {
    .blog-post {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 700px) {
    .blog-post {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
}