:root{--font-family:'Open Sans',
    'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif;--color-base:white !important;--color-primary:#488aff;--color-contrast:white !important;--color-primary-rgb:72, 138, 255;--color-primary-hsl:218, 100%;--color-secondary:red;--color-secondary-rgb:255, 0, 0;--color-secondary-hsl:255, 100%}