//card Article
.lazy-load-image-background {
    display: block !important;
}

.card {
    border-right: 1px solid rgb(240, 237, 237);
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0px 0px 11px 0px rgba(1, 67, 110, 0.1);
    border-color: rgb(238, 238, 238);

    &:hover {
        box-shadow: 0px 0px 11px 0px rgba(1, 67, 110, 0.3);

    }

    &.hover {
        transform-origin: center;
        transition: transform .4s;
        transform: scale(1.05);
    }


    &-header {
        background-size: cover;
        background-position: center;
        background-color: var(--color-contrast);
        border-radius: 10px 10px 0 0;
        height: 300px;
        width: 100%;
        position: relative;

        @media (max-width: 500px) {
            height: 250px;
        }

        img {
            width: 100%;
            margin: auto;
            text-align: center;
            border-radius: 10px;

            &:hover {
                box-shadow: 10px 10px 0 0 rgba(43, 10, 61, 0.2);
                opacity: 0.5;
            }
        }
    }

    &-content {
        padding: 15px;
        background-color: var(--color-contrast);
        border-radius: 0 0 10px 10px;
    }

    &-project {

        width: 100%;
        opacity: 0;
        animation-name: slideInRight;
        animation-duration: 1s;
        transition-timing-function: ease;
        animation-fill-mode: forwards;



        &:hover {
            .figcaption {
                display: flex !important;
            }

        }

        @media (max-width: 900px) {
            .figcaption {
                display: flex !important;
            }
        }

    }
}

//card profile

.card {
    &-inner {
        opacity: 0;
        animation-name: slideInRight;
        animation-duration: 1s;
        transition-timing-function: ease;
        animation-fill-mode: forwards;
        animation-delay: 0.5;

        margin: auto;

    }

    &-profile {
        padding: 15px;
        margin-top: 5vw;
        background-color: var(--color-contrast);
        border-radius: 10px;
        text-align: center;

        h2 {
            padding-top: 1rem;
        }

        .row {
            justify-content: space-around;
        }

        h2 {

            font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
            width: 100%;

            font-weight: bold;
            text-align: center;
            border: 0;
        }

        p {
            padding-bottom: 5px;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid var(--color-primary)
        }

        .icon-profile {
            max-width: 60%;

            @media screen and (max-width: 640px) {
                max-width: 50%;
            }
        }

    }

    .icon-profile {
        display: flex;
        justify-content: center;
        border-radius: 300px;
        max-height: 200px;
    }

    .reseaux {

        @extend .row;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;

    }
}

//card masonry
.card-masonry {
    margin: 1vw 0.5vw;
    transform: scale(1);
    transition: ease-in-out transform .5s;

    img {

        border-radius: 10px;
        width: 100%;
        transform: scale(1.0);
        transition: ease-in-out transform .5s;
        object-fit: fill;

        &:hover {
            transform: scale(1.05);
            transition: ease-in-out transform .5s;
        }

    }



}

.experiences {
    background-color: var(--color-contrast);

    @media screen and (min-width: 980px) {
        &.after-left {
            position: relative;

            &::after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid var(--color-contrast);
                border-right: 0 solid var(--color-contrast);
                border-bottom: 14px solid transparent;

                content: " ";
            }
        }

        &.after-right {
            position: relative;

            &::after {
                position: absolute;
                bottom: 20px;
                left: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-right: 14px solid var(--color-contrast);
                border-left: 0 solid var(--color-contrast);
                border-bottom: 14px solid transparent;

                content: " ";
            }
        }
    }




    h4 {
        font-size: 1.5em;
        margin: 0;
        color: var(--color-primary)
    }

    li {
        padding: 5px 0;
        font-size: 0.9rem;
        color: var(--color-primary)
    }

    ul {
        padding-left: 15px;
    }
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    display: none;
}

.image-gallery-fullscreen-button {
    display: none;
}