.experiences-container {
    width: 95%;
    display: flex;
    margin: 4rem auto 2rem auto;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 4rem
    }


}

.timeline-container {
    width: 86px;
    height: 500px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 992px) {
        height: 200px;
    }
}

.experiences {
    border-top: 5px solid var(--color-primary);
    padding: 15px;
}