.timeline {
    position: absolute;
    background: var(--color-primary);
    width: 8px;
    height: 250px;

    @media screen and (max-width: 992px) {
        height: 100px;
    }

    &.timelineTopRight {
        left: 0;
        top: 0;
        margin-left: 0;

    }

    &.timelineBottomLeft {
        left: auto;
        right: 0;
        margin-left: 0;
        bottom: 0;

    }

    &.timelineTopLeft {
        left: auto;
        right: 0;
        margin-left: 0;
        top: 0;
    }


    &.timelineBottomRight {
        left: 0;
        right: auto;
        margin-left: 0;
        bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        &.before-timeline::before {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            z-index: 2;
            border-bottom: 7px solid var(--color-primary);
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            bottom: 100%;
            left: 50%;
            margin-left: -4px;

        }

        &.after-timeline::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            z-index: 2;
            border-top: 7px solid var(--color-primary);
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            bottom: 0;

            margin-bottom: -7px;

        }

    }


}



.timelineCenter {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    border: 8px solid var(--color-primary);
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 5;
    background-color: "#fff";
    box-sizing: content-box;
}