/*
  Slide Forward
*/
.slide-appear,
.slide-enter {
    transform: translateX(100%);
    opacity: 0;
}

.slide-appear-active,
.slide-enter-active {
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
    opacity: 1;
}

.slide-exit {
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
}

/*
  Slide Back
*/
.slide-back-appear,
.slide-back-enter {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-back-appear-active,
.slide-back-enter-active {
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
    opacity: 1;
}

.slide-back-exit {
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
}