@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slide {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5em !important;
    ;
    width: 100%;
    color: #eee !important;
    animation: fadeIn 0.75s 0.5s cubic-bezier(0.17, 0.88, 0.32, 1.27) both, fadeIn 0.25s 0.5s ease-in both;
}

.luc {
    padding-top: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em !important;

    width: 100%;
    color: #eee !important;
    animation: fadeIn 0.75s 1.3s cubic-bezier(0.17, 0.88, 0.32, 1.27) both, ;
}

.bachelart {

    max-width: 50vw;
    animation: fadeIn 0.75s 0.75s cubic-bezier(0.17, 0.88, 0.32, 1.27) both, ;
}

.continuer {
    border: solid 1px #eee !important;
    border-radius: 5px;
    margin-top: 2vh !important;
    background-color: transparent !important;
    color: #fff !important;
    animation: fadeIn 0.75s 2s cubic-bezier(0.17, 0.88, 0.32, 1.27) both, ;
}

@media screen and (max-width: 400px) {
    .luc {
        padding-top: 2vh;
        font-size: 1.5em !important;
    }


}