.container-fluid {
    margin: auto;

    @media (max-width: 1300px) {
        padding: 0 15px;
    }
}

.container {
    margin: auto;
    max-width: 870px;

    @media (max-width: 1300px) {
        padding: 0 15px;
    }
}

div[class*="__container"] {
    color: var(--color-contrast);
}

.medium-container-flex {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1300px) {
        padding: 0 15px;
    }
}

.full-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1300px) {
        max-width: 1200px;
        padding: 0 15px;
    }
}

.medium-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1300px) {
        padding: 0 15px;
    }
}