@import 'variables', 'typographie', 'row', 'link', 'grid', 'container', 'keyframes';


*,
:after,
:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(249, 249, 249);


}

.figcaption {
    position: absolute;
    bottom: 50px;
    transform-origin: center;
    transition: ease-in-out .5s;
    animation: FadeIn .75s .75s both;
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;

    >button {
        margin: 0 20px;
    }
}

a {

    cursor: pointer;

    &:focus {
        border: none;
    }

    &:hover {

        text-decoration: underline var(--color-primary);
    }
}