@import "variables";

.section-title {
    &-header {
        max-width: 600px;
        margin: auto;

        h1 {
            font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
            margin: 0 4vh;
        }

        h2 {
            font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
            margin: 0 4vh;
        }
    }

    margin: auto;
}

.bold {
    font-weight: 700;
}

h1 {
    color: var(--color-contrast);
    font-size: 2.25rem;
    line-height: 1;
    margin-bottom: 30px;
    font-weight: 700;

    &.primary {

        color: var(--color-primary);
        font-weight: bold;
        margin: 0;
    }

    &.after {
        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 1.5em;
            background: var(--color-primary);

            margin: 1rem auto;
        }
    }
}

p {
    margin: 0;
    line-height: 1.31579;
    font-size: 1.1rem;
    color: rgb(50, 50, 50);
    ;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;


}

h2 {
    font-size: 3em;
    color: var(--color-primary);
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: auto;

    @media (max-width: 500px) {
        border-bottom: 0;
    }

    &.after {
        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 1.5em;
            background: var(--color-primary);
            margin: 1rem auto;
        }
    }
}



h3 {
    width: 100%;
    color: var(--color-primary);
    font-size: 2em;
    font-weight: bold;
    padding-top: 1rem;
    margin: 0;
}



a {
    cursor: pointer;
    text-decoration: none;

}