:root {
    --color-primary: #213142;
    --color-base: white;
    --color-contrast: white !important;
    --color-primary-rgb: 72, 138, 255;
    --color-primary-hsl: 218, 100%;
    --color-secondary: #4cb7a5;
    --color-secondary-rgb: 76, 183, 165;
    --color-secondary-hsl: 170, 43%;
}

.button-native {
    --margin-top: 20px;
    --margin-bottom: 20px;
    --margin-start: 20px;
    --margin-end: 20px;

}