.masonry {
  margin-top: 4rem;

  @for $i from 0 through 10 {
    > div > div > :nth-child(#{$i}n) {
      opacity: 0;
      animation-delay: #{$i * 0.5}s;
      animation-name: slideInRight;
      animation-duration: 1s;
      transition-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }
}

.gallery {
  filter: blur(8px);
}
