@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.MuiPaper-elevation4-23 {
  box-shadow: none !important;
}

.animation {
  animation: fade 0.75s 2s cubic-bezier(0.17, 0.88, 0.32, 1.27) both, ;
}