form {

    .form-input {
        flex-direction: column;
        display: flex;
    }


}

label {
    display: block;
    font-weight: 600;
    color: grey;
    padding: 10px 0;
    width: 95%;
    font: 1.3rem;
    ;
}


.btn--submit {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 300px;
}