input {
    border: 2px solid #ccc;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: var(--color-contrast);
    border-radius: 20px;

    transition: border-bottom-color 0.25s ease-in;


    &:focus {
        border-bottom-color: #e5195f;
        outline: 0;
    }
}

input[type="submit"i] {
    width: 300px;
    padding: 15px 0;
    margin: 15px auto;
    background-color: var(--color-primary);
    color: var(--color-contrast);
    border-radius: 300px;


}

input[type="file"i] {
    border: none;
}