.btn--arrow {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--color-contrast);
    background-color: transparent !important;
    color: var(--color-contrast);
    ;
    cursor: pointer;
    padding: 6px 12px;
    display: flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;

    svg {
        color: var(--color-contrast);
        font-size: 2rem;
    }
}

.btn-links {
    background-color: #4cb7a5;
    color: var(--color-contrast);
    ;
    border: none;
    box-shadow: none;
    border-radius: 40px;

    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.3px;
    padding: 10px 30px;
    transition: background-color .2s ease, box-shadow .2s ease;
    cursor: pointer;

    a {
        color: var(--color-contrast);
        ;

        &:hover {

            text-decoration: none;
        }
    }
}

.edit {
    margin-top: 2rem;
    text-align: center;
    width: 100%;

    a {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: 400;
        padding: 0.7vh 1rem;
        font-size: 1.1rem;
        letter-spacing: 1px;

        svg {
            margin: 0 10px;
        }
    }
}

button {
    display: inline-block;
    font-family: var(--font-family, inherit);
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top;
    vertical-align: -webkit-baseline-middle;
    -webkit-font-kerning: none;
    font-kerning: none;
    --transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    --border-radius: 2px;
    --margin-top: 4px;
    --margin-bottom: 4px;
    --margin-start: 2px;
    --margin-end: 2px;
    --padding-top: 0.4em;
    --padding-bottom: 0.4em;
    --padding-start: 1.1em;
    --padding-end: 1.1em;
    --height: 2em;
    --btt-font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
}

a[href] {
    --padding-top: 1em;
    --padding-start: 1.2em;
    --padding-end: 1.2em;
    --padding-bottom: 1em;
    --height: auto;
    --btt-font-size: 1.1rem;

    &.button-native:hover {
        text-decoration: underline;
    }

    &.button-solid {
        text-decoration: none;
    }
}

:host([disabled]) {
    pointer-events: none
}

.button- {

    &primary {
        --color-base: var(--color-primary) !important;
        --color-border-rgb: var(--color-primary-rgb);
        --color-solid: var(--color-primary);
        --color-solid-hsl: var(--color-primary-hsl);
    }

    &secondary {
        --color-base: var(--color-secondary) !important;
        --color-border-rgb: var(--color-secondary-rgb);
        --color-solid: var(--color-secondary);
        --color-solid-hsl: var(--color-secondary-hsl);
    }

    &solid {
        --background: var(--color-solid);
        --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        --color-base: var(--color-contrast) !important;

        &:hover {
            --background: hsl(var(--color-solid-hsl), 58%);
        }
    }

    &outline {
        --border-color: rgba(var(--color-border-rgb), 1);
        --background: transparent;
        color: var(--color-base);
        --border-width: 1px;
        --border-style: solid;
        --box-shadow: none;

        &:hover {
            //--border-color: rgba(var(--color-border-rgb), 1);
            --color-base: var(--color-contrast);
            filter: brightness(80%);
        }
    }

    &clear {
        --border-width: 0;
        --background: transparent;
        color: var(--color-base);
        --opacity: 1
    }
}



.block {
    display: block
}

.solid.activated {
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21);
    --background: var(--color-shade)
}

.outline.activated {
    --background: transparent
}

.outline.focused {
    --background: rgba(var(--color-base-rgb), 0.1)
}

.button-rounded {
    --border-radius: 64px;

}

.large {
    --padding-top: 0;
    --padding-start: 1em;
    --padding-end: 1em;
    --padding-bottom: 0;
    --height: 2.8em;
    --btt-font-size: 20px
}

.small {
    --padding-top: 0;
    --padding-start: 0.9em;
    --padding-end: 0.9em;
    --padding-bottom: 0;
    --height: 2.1em;
    --btt-font-size: 13px
}

.strong {
    font-weight: 700
}

.block .button-native {
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 100%;
    clear: both;
    contain: strict
}

.button-block .button-native::after {
    clear: both
}

.button-full {
    display: block
}

.button-full .button-native {
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 100%;
    contain: strict
}

.full:not(.round) .button-native {
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0
}


.button-native {
    letter-spacing: 1px;
    font-family: inherit;
    font-size: var(--btt-font-size);
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    text-overflow: inherit;
    text-transform: inherit;
    text-align: inherit;
    white-space: inherit;
    color: var(--color-base, inherit);
    border-radius: var(--border-radius);
    margin: var(--margin-top) var(--margin-end) var(--margin-bottom) var(--margin-start);
    padding: var(--padding-top) var(--padding-end) var(--padding-bottom) var(--padding-start);
    display: inline-block;
    position: relative;
    height: var(--height);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    outline: 0;
    background: var(--background, white);
    line-height: 1px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    contain: content;
    cursor: pointer;
    opacity: var(--opacity);
    overflow: var(--overflow);
    z-index: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.button-native[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none
}

.button-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%
}